body{
    background-color: #6ED5FA;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: auto;
    /*background-image: url("postagem_g.jpg");
    background-position: top;*/
}

.photo{
    border: 3px solid #36687A;
    border-radius: 50%;
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}

#title, .subtitle, .post-title{
    color: #36687A;
}

a{
    text-decoration: underline;
    color: #36687A;
}

a:hover{
    background-color: #36687A;
    color: #BAE9FB;
}

.posttitle{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background-color: #BAE9FB;
    padding: 15px;
    border: 3px solid #36687A;
    margin-bottom: 15px;
    border-radius: 15px;
}

.post-content{
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
}

.post-image{
    margin-bottom: 15px;
    margin: auto;
    width: 100%;
}

.contacts-list{
    list-style-type: none;
    padding-left: 15px;
    padding-top: 0;
}

.contacts-list li a{
    text-decoration: underline;
}